body, html, p 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

header 
{
    width: 100%;
    background-color: #333;
    color: white; 
    text-align: center;
    padding-bottom: 3px;
}

h3
{
    margin: 0;
    text-align: center;
}

input[type='number'] 
{
    width: 4em;
}

.mainBody
{
    display: flex;
    height: 100%;
}

.mapContainer
{
    width: 75%;
    height: 100%;
    overflow: scroll;
}

.map
{
    font-size: 100px;
    height: 100%;
}

.controlContainer
{
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    width: 25%;
    height: calc(100% - 0.4em);
    padding: 0.2em;
}

.controlDiv
{
    border: thin solid black;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 1em;
}

.featureCol
{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.featureRow
{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.fileDiv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 1em;
}

.menuContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: black solid 0.05em;
    background-color: #f1f1f1;
}

.menuItem
{
    padding: 0.25em;
    cursor: pointer;
}

.menuItem:hover
{
    background-color: #999999;
}

.menuItemSelected
{
    background-color: #cccccc;
}

#controlPanel .jumpInput
{
    width: 4em;
}